.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.logout-button {
  min-width: 300px;
  padding: 17px 30px;
  margin-top: 20px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 3px;
  cursor: pointer;
}
.logout-button:hover {
  background: blue;
  color: black;
}

.user-name {
  color: blue;
}
